@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

body {
  background: #fff;
}

body,
input,
textarea,
select {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19pt;
  font-weight: 300;
  line-height: 1.75em;
  color: rgb(92, 92, 92);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  color: #333;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5em;
}

header {
  margin: 0 0 2em 0;
}

header > p {
  margin: 1em 0 0 0;
}

footer {
  margin: 2em 0 0 0;
}

strong,
b {
  font-weight: 300;
  color: #666;
}

em,
i {
  font-style: italic;
}

a:hover {
  color: #e27689;
  border-bottom-color: rgba(255, 255, 255, 0);
}

p,
ul,
ol,
dl,
table {
  color: #666;
}

section,
article {
  margin-bottom: 3em;
}

ul.default {
  list-style: disc;
  padding-left: 1em;
}

ul.default li {
  padding-left: 0.5em;
}

ul.icons {
  cursor: default;
}

ul.icons li {
  display: inline-block;
}

ul.icons a {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 0;
  color: white;
  font-size: 24px;
  padding: 0%;
}

ul.icons a :hover {
  color: #d575a0;
}

.icon {
  text-decoration: none;
}

.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.5em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon > .label {
  display: none;
}

#name {
  width: 50%;
  height: 35px;
  
}

#navbar_id {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  color: #fff;
  background-color: #222629;
  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

#header .top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#header .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#header .icons {
  font-size: 0.8em;
  margin: 0 0 1em 0;
  text-align: center;
}

#header .icons a:hover {
  color: #fff;
}

#nav ul li a span {
  position: relative;
  display: block;
  font-size: 0.8em;
}

#nav ul li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 1.25em;
  line-height: 1em;
}

#nav ul li a.active {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
  color: #fff;
}

#nav ul li a.active span:before {
  color: #e27689;
}

#main {
  margin-left: 375px;
}

#main > section {
  margin: 0;
  overflow: hidden;
  padding: 4em 0;
  inset: 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  margin-left: -40px;
  color: #666;
  background-color: #fff;
}

#main > section.dark {
  color: #ddd;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

#main > section.dark h2,
#main > section.dark h3,
#main > section.dark h4,
#main > section.dark h5,
#main > section.dark h6 {
  color: inherit;
}

#main > section.dark strong,
#main > section.dark a {
  color: #fff;
  border-color: inherit;
  text-decoration: none;
}

#main > section.dark a:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}

#main > section.one {
  background-color: transparent;
  padding: 6em 0;
  background-size: cover;
  background-position: center center;
}

#main > section.two {
  background-color: #ecf1f1;
}

body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #636fa4, #e8cbc0);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
  padding-bottom: 0px;
}

.text-gray {
  color: #999;
}

#realisations * {
  z-index: 2;
  text-align: center;
}

.skel-layers-ignoreHref {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px;
}

.skel-layers-ignoreHref :hover {
  color: #d575a0;
}

ul {
  list-style-type: none;
}
.top {
  position: absolute;
}
.button {
  transition-duration: 0.7s;
  padding: 0.75em 2.5em 0.75em 2.5em;
  font-size: 24px;
}
.button:hover {
  background-color: #44cfc8;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
}
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 30%;
}

/* Timeline vertical line */
ul.timeline:before {
  content: " ";
  background: linear-gradient(to top, #00c1ff, #0095ff, #0068ff);
  display: inline-block;
  position: absolute;
  left: auto;
  width: 4px;
  height: 90%;
  z-index: 400;
  border-radius: 1rem;
  top: 25px;
}

li.timeline-item {
  margin: 20px 0;
}

.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid black;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 40%;
  transform: rotate(180deg);
  top: 30px;
}
.parcours {
  text-align: center;
  font-size: 2em;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#TitreCertif {
  padding-left: 55%;
  padding-top: 3%;
}
#carouselExemple {
  width: 60%;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 10%;
  margin-left: 32%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.card_n1 {
  padding-right: 50px;
  padding-left: 85px;
}

.card_n2 {
  padding-right: 50px;
}

.card_n3 {
  padding-right: 50px;
}

.portfolio_title {
  position: absolute;
  margin-left: 440px;
  margin-top: -75px;
}
.bottomMedia {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #header {
    width: 250px;
  }
  header {
    margin: 0 15px 2em 0;
  }
  .button {
    margin: 0 15px 2em 0;
  }
  #main > section {
    margin-left: -125px;
  }
  .row {
    margin-left: 40px;
  }
  .portfolio_title {
    margin-left: 25%;
    position: absolute;
  }
  .card_n1 {
    padding-left: 29%;
  }
  .card_n2 {
    padding-left: 29%;
    padding-top: 3%;
  }
  .card_n3 {
    padding-left: 29%;
    padding-top: 3%;
  }
  .timeline-arrow {
    border-right: transparent;
  }
  #carouselExemple {
    margin-left: 32%;
  }
  ul.timeline {
    padding-left: 5%;
  }
  ul {
    margin-right: 47px;
  }
  #nav ul li a span:before {
    left: -30px;
  }
  #header .bottom {
    left: -23px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1433px) {
  .card_n1 {
    padding-left: 7%;
    width: 50%;
  }
  .card_n2 {
    width: 50%;
    padding-left: 7%;
  }
.card_n3 {
  width: 50%;
  padding-left: 31%;
  padding-top: 3%;
}
.portfolio_title {
  margin-left: 25%;
}
.timeline-arrow {
  border-right: transparent;
}
ul.timeline {
  padding-left: 10%;
}
#carouselExemple {
  width: 50%;
  margin-left: 430px;
}
}
@media screen and (max-width: 768px) {

  #main {
    margin-left: 50%;
  }
#header {
  display: none;
}
#navbar_id {
  display: contents;
  position: fixed;
}
#main > section {
  margin-left: -100%;
}
.portfolio_title {
  position: inherit;
  margin-left: 0;
  margin-top: -5%;
}

.card_n1 {
  padding-left: 14%;
}
.card_n2 {
  margin-left: 14%;
  padding-top: 3%;
}
.card_n3 {
  margin-left: 14%;
  padding-top: 3%;
}
.timeline-arrow {
  border-right: transparent;
}
ul.timeline {
  padding-left: 5%;  
}
#TitreCertif {
  padding-left: 2%;
}
#certification {
  text-align: center;
}
#carouselExemple {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.bottomMedia {
  display: contents;
}
}